html {
  font-size: calc(#{$min-font-size-px} + (#{$max-font-size} - #{$min-font-size}) * ((100vw - #{$screen-min-px}) / (#{$screen-max} - #{$screen-min})));

  @media only screen and (max-width: $screen-min-px) {
    font-size: $min-font-size;
  }

  @media only screen and (min-width: $screen-max-px) {
    font-size: $max-font-size;
  }
}

html, body, #__nuxt, #__layout, #root {
  height: 100%;
}

body {
  background: $background-color;
  color: $primary-color;
  font-family: $font-family;
}

#root {
  display: flex;
  flex-direction: column;
}

.layout {
  flex-grow: 1;

  display: flex;
}

.sns, .vision {
  flex-basis: 2.5rem;
  padding: 0 .5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sns svg.icon {
  width: 1.5rem;
  margin-bottom: 1rem;
}

.vision {
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  letter-spacing: .05rem;
}

.page {
  flex-grow: 1;
  background-color: $background-secondary-color;
}

.gray {
  color: $secondary-color !important;
  font-weight: $med;
}

@media only screen and (max-width: $screen-md) {
  .layout {
    flex-direction: column;
  }

  .page {
    margin-bottom: 0;
  }

  .sns, .vision {
    flex-direction: row;
    padding: .5rem 0;
  }

  .sns {
    order: 3;
  }

  .sns svg.icon {
    margin-bottom: 0;
  }

  .sns svg.icon:first-child {
    margin-right: 1.5rem;
  }

  .vision {
    order: 2;
    writing-mode: initial;
  }
}