// added for css reset
@import 'normalize.css';

a {
  background: none;
  text-decoration: none;
  cursor: pointer;
  color: $primary-color;

  &:active,
  &:focus,
  &:visited {
    color: $primary-color;
    text-decoration: none;
  }
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  color: $primary-color;
}

*::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}