// added for css reset
@import 'normalize.css';

a {
  background: none;
  text-decoration: none;
  cursor: pointer;

  &:active,
  &:focus,
  &:visited {
    color: $primary-color;
  }
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  color: $primary-color;
}
