// display
.d-flex {
  display: flex;
}

// flex
.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

// color
.primary {
  color: $primary-color;
}

.secondary {
  color: $secondary-color;
}

// font-weight
.font-bold {
  font-weight: bold;
}

.font-thin {
  font-weight: $font-thin;
}

.font-regular {
  font-weight: $font-regular;
}

.font-light {
  font-weight: $font-light;
}

.font-bold {
  font-weight: $font-bold;
}

